*{
    background-color: darkgrey;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}
#div1{
    border: 2px solid black;
    text-align: center;
    padding: 20px;   
}
#div2{
    border: 2px solid black;
    text-align: center;
    padding: 20px;   
}